<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand active" href="{% url 'home' %}">Fish Market</a>
          </div>
          <ul class="nav navbar-nav">
            
            <li><a href="{% url 'info' %}">Info </a></li>
            
          </ul>
          
        </div>
      </nav>
    <h1  style = "color: dimgray;">Welcome to Fish Market detection!</h1>
   

    <form action="{% url 'result' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <pre>
    Length1:         <input type="text" required name = "Length1">    Length2:         <input type="text" required name = "Length2"><br>
    Length3:         <input type="text" required name = "Length3">    Height:          <input type="text" required name = "Height"><br>
    Width:           <input type="text" required name = "Width">    Species_Bream:   <input type="text" required name = "Species_Bream"><br>
    Species_Parkki:  <input type="text" required name = "Species_Parkki">    Species_Perch:   <input type="text" required name = "Species_Perch"><br>
    Species_Pike:    <input type="text" required name = "Species_Pike">    Species_Roach:   <input type="text" required name = "Species_Roach"><br>
    Species_Smelt:   <input type="text" required name = "Species_Smelt">   Species_Whitefish:<input type="text" required name = "Species_Whitefish"><br>
    

        <input type="submit" value="submit">
    </pre>
    </form>

</body>
</html>