<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand active" href="{% url 'home' %}">Fish Market</a>
          </div>
          <ul class="nav navbar-nav">
            
            <li><a href="{% url 'info' %}">Info </a></li>
            
          </ul>
          
        </div>
      </nav>
    <h1  style = "color: dimgray;">Welcome to Fish Market detection!</h1>
   

    
    <form action="{% url 'result' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <pre>
    <h2>Please enter the data to make prediction!</h2>
    Length1:         <input type="text" required name = "Length1"
    placeholder = "The mean value for Length1 is 26.24" size="50">    <br>
    Length2:         <input type="text" required name = "Length2" placeholder = "The mean value for Length2 is 28.41 " size="50"><br>
    Length3:         <input type="text" required name = "Length3" placeholder = "The mean value for Length3 is 31.22 " size="50">   <br> 
    Height:          <input type="text" required name = "Height" placeholder = "The mean value for Height is  8.97" size="50"><br>
    Width:           <input type="text" required name = "Width" placeholder = "The mean value for Width is 4.41" size="50"> <br>  
    Weight           <input type="text" required name = "Weight" placeholder = "The mean value for Weight is 398.32" size="50"><br>
    

        <input type="submit" value="submit">
    </pre>
    </form>

</body>
</html>