<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <title>Document</title>
  
</head>
<body>
    
<div class="container">
    <div class="page-header" style="font-weight: bold;">
        <pre>
        This dataset is a record of 7 common different fish species in fish market sales.
        With this dataset, a predictive model can be performed using machine learning model
        to estimate the weight of the fish.
        </pre>

        
    </div>

    <h2>This dataset contains the following features:<h2>

    <ul class="list-group">
        <li class="list-group-item active">Species: Name of the species</li>
        <li class="list-group-item active">Weight: Weight of individual fish in grams
        </li>
        <li class="list-group-item active">Length 1: Vertical length in cm
        </li>
        <li class="list-group-item active">Length 2: Diagonal length in cm
        </li>
        <li class="list-group-item active">Length 3: Cross length in cm
        </li>
        <li class="list-group-item active">Height: Height in cm
        </li>
        <li class="list-group-item active">
            Width: Width in cm   </li>
    </ul>
    
  </div>
  
  <ul class="nav navbar-nav">
            
    <li><a href="{% url 'home' %}">Bact To Home </a></li>
    
  </ul>



</body>
</html>